.page{
    height: 100vh;
    position: relative;
}

.page--home{
    background:
        linear-gradient(
            rgba(255,255,255, 0.2), 
            rgba(255,255,255, 0.2)
        ),
        url("../../assets/site-bg-colours.jpg");
    background-size: cover;
}

