.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    overflow: hidden;
    min-height: 30px;
    padding: 0 30px;
    background-color: rgba(0,0,0,0.3);
    border-bottom: 2px solid rgba(0,0,0,0.6);
}